<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BreweryDBBaseUrl" value="http://api.brewerydb.com/v2/" />
    <add key="BreweryDBKey" value="5e9f4321990d66b2d6498ef01a3cb912" />
    <add key="DefaultBeerImagePath" value="/Resources/beer.jpg" />
    <add key="IconsPath" value="/Resources/webbuttons.jpg" />
    <add key="LogDir" value="#MyDocuments#\BreweryApp\Logs" />
  </appSettings>
</configuration>